<section class="feedback">
  <div class="container">
    <div class="feedback__inner">
      <div class="container">
        <div class="feedback__inner--header">
          <h2>Отзывы</h2>
          <a class="btn simple-secondary-btn arrow-btn" href="#" title="Все отзывы"></a>
        </div>
      </div>
      <div class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <div class="splide__slide--wrapper">
                <div class="feedback__userinfo">
                  <p class="feedback__userinfo--name">
                    Яна <span class="feedback__userinfo--city separator-left">Москва</span>
                  </p>
                  <p class="feedback__userinfo--date">5 ноября 2023</p>
                </div>
                <div class="feedback__rateinfo">
                  <p class="feedback__rateinfo--title">
                    <a href="#" title="Мир - Несвиж">Мир - Несвиж</a>
                  </p>
                  <div class="feedback__rateinfo--rate">9.0</div>
                </div>
                <div class="feedback__text">
                  <p>
                    Экскурсия очень понравилась, насыщенная и обширная
                    программа, интересный маршрут, красивые замки и вся
                    архитектура. Гид Татьяна рассказывала очень
                    интересно, чувствовался профессионализм и полная
                    отдача. Организация экскурсии была чёткой и
                    слаженной.
                  </p>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="splide__slide--wrapper">
                <div class="feedback__userinfo">
                  <p class="feedback__userinfo--name">
                    Яна <span class="feedback__userinfo--city separator-left">Москва</span>
                  </p>
                  <p class="feedback__userinfo--date">5 ноября 2023</p>
                </div>
                <div class="feedback__rateinfo">
                  <p class="feedback__rateinfo--title">
                    <a href="#" title="Мир - Несвиж">Мир - Несвиж</a>
                  </p>
                  <div class="feedback__rateinfo--rate">9.0</div>
                </div>
                <div class="feedback__text">
                  <p>
                    Экскурсия очень понравилась, насыщенная и обширная
                    программа, интересный маршрут, красивые замки и вся
                    архитектура.
                  </p>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="splide__slide--wrapper">
                <div class="feedback__userinfo">
                  <p class="feedback__userinfo--name">
                    Яна <span class="feedback__userinfo--city separator-left">Москва</span>
                  </p>
                  <p class="feedback__userinfo--date">5 ноября 2023</p>
                </div>
                <div class="feedback__rateinfo">
                  <p class="feedback__rateinfo--title">
                    <a href="#" title="Мир - Несвиж">Мир - Несвиж</a>
                  </p>
                  <div class="feedback__rateinfo--rate">9.0</div>
                </div>
                <div class="feedback__text">
                  <p>
                    Экскурсия очень понравилась, насыщенная и обширная
                    программа, интересный маршрут, красивые замки и вся
                    архитектура. Гид Татьяна рассказывала очень
                    интересно, чувствовался профессионализм и полная
                    отдача. Организация экскурсии была чёткой и
                    слаженной.
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>