<section class="contacts">
  <div class="container">
    <div class="contacts__inner">
      <h2 class="h2">Контакты</h2>
      <address>
        <p class="h5"> ЧНПУП "Автоматизированные технологии туризма"</p>
        <p class="h5">Телефоны</p>
        <div class="contacts__phones">
          <div class="contacts__phones--numbers">
            <a href="tel:+375173944913">+375 (17) 394-49-13</a>
            <a href="tel:+375297566665">+375 (29) 756-66-65</a>
          </div>
          <div class="contacts__phones--socials">
            <a href="whatsapp://send/?phone=+375297566665&text=%D0%94%D0%BE%D0%B1%D1%80%D1%8B%D0%B9%20%D0%B4%D0%B5%D0%BD%D1%8C!" title="whatsapp">
              <img src="images/sprite.svg#icons--socials--whatsapp" alt="whatsapp">
            </a>
            <a href="viber://add?number=375297566665/" title="viber">
              <img src="images/sprite.svg#icons--socials--viber" alt="viber">
            </a>
            <a href="https://telegram.me/ekskursii" title="telegram">
              <img src="images/sprite.svg#icons--socials--telegram" alt="telegram">
            </a>
          </div>
        </div>
        <p class="h5">Адрес</p>
        <div class="contacts__address">
          <a href="#">220007, Беларусь, г. Минск,<br>ул. Суражская д.10, оф.21(5 этаж)</a>
        </div>
        <div class="contacts__map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2351.6724568648065!2d27.5322264!3d53.8842508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd01edd0b19d7%3A0xc0280ec2a33bc7b3!2sUlitsa%20Surazhskaya%2010%2C%20Minsk%2C%20Minskaja%20voblas%C4%87%20220089!5e0!3m2!1sen!2sby!4v1703255270678!5m2!1sen!2sby"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
        <p class="h5">График работы офиса и кассы предприятия</p>
        <div class="contacts__schedule">
          <p>понедельник - пятница, 09.00-18.00</p>
          <p>обеденный перерыв 13.00-14.00</p>
        </div>
        <div class="contacts__social-media">
          <a href="https://ok.ru/group58251760369726?st._aid=ExternalGroupWidget_OpenGroup" title="Мы в Вк">
            <img src="images/sprite.svg#icons--socials--vk" alt="Вк">
          </a>
          <a href="https://ok.ru/group58251760369726?st._aid=ExternalGroupWidget_OpenGroup" title="Мы в Одноклассниках">
            <img src="images/sprite.svg#icons--socials--ok" alt="Одноклассники">
          </a>
          <a href="https://ok.ru/group58251760369726?st._aid=ExternalGroupWidget_OpenGroup" title="Мы на YouTube">
            <img src="images/sprite.svg#icons--socials--youtube" alt="YouTube">
          </a>
          <a href="https://ok.ru/group58251760369726?st._aid=ExternalGroupWidget_OpenGroup" title="Мы в Instagram">
            <img src="images/sprite.svg#icons--socials--instagram" alt="Instagram">
          </a>
          <a href="https://ok.ru/group58251760369726?st._aid=ExternalGroupWidget_OpenGroup" title="Мы в Facebook">
            <img src="images/sprite.svg#icons--socials--fb" alt="Facebook">
          </a>
        </div>
      </address>
    </div>
  </div>
</section>