<section class="intro">
    <div class="container">
      <div class="intro__inner">
        <h1 class="h1">Экскурсии по Беларуси</h1>
        <p class="intro__description">
          Ежегодно организацию <span>отдыха в&nbsp;Беларуси</span> нам
          доверяют более <span>20&nbsp;тысяч</span> клиентов
        </p>
        <div class="intro__cta">
          <a class="btn intro__btn--primary modal-open" href="#" title="Оставить заявку"></a>
          <a class="btn intro__btn--secondary" href="#" title="График экскурсий"></a>
        </div>
      </div>
    </div>
</section>
<!--=include modal-booking.html -->