<section class="main-search">
  <div class="container">
    <div class="main-search__inner">
      <input class="main-search__dropdown-btn" id="main-search__dropdown-btn" type="checkbox">
      <h2 class="h2">Поиск</h2>
      <span class="main-search__dropdown-arrow"></span>
      <form class="search-form" id="search-form">
        <div class="search-form__form-field">
          <label class="search-form__form-field--label" for="main-search-place">Место</label>
          <span class="search-form__form-field--input">
            <input type="text" name="place" id="main-search-place" placeholder="Место">
          </span>
        </div>
        <div class="search-form__form-field">
          <div class="search-form__form-field--date">
            <label class="search-form__form-field--label" for="main-search-date">Выберите дату</label>
            <span class="search-form__form-field--input">
              <input type="text" name="date" id="main-search-date" placeholder="Выберите дату">
            </span>
          </div>
        </div>
        <div class="search-form__form-field">
          <label class="search-form__form-field--label" for="main-search-types">Виды экскурсий</label>
          <span class="search-form__form-field--input">
            <select name="types" id="main-search-types">
              <option>Групповые</option>
              <option>Индивидуальные</option>
            </select>
          </span>
        </div>
        <button class="btn search-form__submit-btn">Искать</button>
      </form>
    </div>
  </div>
</section>