<section class="section__inner about__short-info">

  <!--=include slider-gallery.html -->
  
  <div class="container">
    <div class="short-info__inner">
      <div class="card-item__info">
        <div class="card-item__info--date">
          <p>21.02.2024<span>(ср)</span></p>
        </div>
        <div class="card-item__info--time">
          <p>10:00</p>
        </div>
        <div class="card-item__info--duration">
          <p>4 ч 30 мин</p>
        </div>
      </div>
      <div class="card-item__additional-info">
        <div class="card-item__additional-info--pickup-point">
          <p>Выезд: <a href="https://maps.app.goo.gl/WruWwwoDQ3f7eXnF8">Минск</a></p>
        </div>
      </div>
      <a class="card-item__cta btn" href="#" title="Забронировать"></a>
    </div>
  </div>

  <div class="btn more-btn--slider more-btn simple-btn">+100 фото</div>
</section>