<div class="filters-modal modal">
  <div class="modal-content">

    <div class="modal__header">
      <h2 class="h2">Фильтры</h2>
      <button class="btn modal-close">
        <img src="images/sprite.svg#icons--cross" alt="close">
      </button>
    </div>
    
    <div class="modal__main">
      <!-- <div class="filters-item">
        <p class="filters-item__title">Город отправления</p>
        <ul class="filters-item__list">
          <li class="filters-item__list--item">  
            <input type="checkbox" class="filters-item__input" id="filters-item__input-1">
            <label for="filters-item__input-1" class="filters-item__label">Брест</label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-2">
            <label for="filters-item__input-2" class="filters-item__label">Витебск</label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-3">
            <label for="filters-item__input-3" class="filters-item__label">Гомель</label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-4">
            <label for="filters-item__input-4" class="filters-item__label">Гродно</label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-5">
            <label for="filters-item__input-5" class="filters-item__label">Минск</label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-6">
            <label for="filters-item__input-6" class="filters-item__label">Могилев</label>
          </li>          
        </ul>
      </div> -->

      <div class="filters-item">
        <p class="filters-item__title">Продолжительность экскурсии</p>
        <ul class="filters-item__list">
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-9">
            <label for="filters-item__input-9" class="filters-item__label">до 6 часов</label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-10">
            <label for="filters-item__input-10" class="filters-item__label">1 день</label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-11">
            <label for="filters-item__input-11" class="filters-item__label">2 дня</label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-12">
            <label for="filters-item__input-12" class="filters-item__label">3 дня</label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-13">
            <label for="filters-item__input-13" class="filters-item__label">3 дня  - 7 дней</label>
          </li>
        </ul>
      </div>

      <div class="filters-item">
        <p class="filters-item__title">Цена за 1 человека</p>

        <div class="filters-item__list" data-range-slider>
          <div class="range-slider-output">
              <div>
                  <p class="start-price" data-range-slider-output-start></p>
                  <span class="price--currency">BYN</span>
              </div>
              <div>
                  <p class="end-price" data-range-slider-output-end></p>
                  <span class="price--currency">BYN</span>
              </div>
          </div>
          <div class="multi-range"></div>
          <input type="text" min="0" max="100" step="1" value="4-20" hidden data-range-slider-input>
      </div>

      </div>
      
      <div class="filters-item">
        <p class="filters-item__title">Тип экскурсии</p>
        <ul class="filters-item__list">
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-7">
            <label for="filters-item__input-7" class="filters-item__label">групповая сборная экскурсия</label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-8">
            <label for="filters-item__input-8" class="filters-item__label">индивидуальная экскурсия / тур</label>
          </li>
        </ul>
      </div>

      <div class="filters-item">
        <p class="filters-item__title">Тема экскурсии</p>
        <ul class="filters-item__list">
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-17">
            <label for="filters-item__input-17" class="filters-item__label">Анимации</label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-18">
            <label for="filters-item__input-18" class="filters-item__label">Военно-патриотические</label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-19">
            <label for="filters-item__input-19" class="filters-item__label">Для школьников</label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-20">
            <label for="filters-item__input-20" class="filters-item__label">На производство</label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-21">
            <label for="filters-item__input-21" class="filters-item__label">Новый год и Рождество</label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-22">
            <label for="filters-item__input-22" class="filters-item__label">По святым местам</label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-23">
            <label for="filters-item__input-23" class="filters-item__label">Туры в Беларусь</label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-24">
            <label for="filters-item__input-24" class="filters-item__label">Туры выходного дня</label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-25">
            <label for="filters-item__input-25" class="filters-item__label">Экологические</label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-26">
            <label for="filters-item__input-26" class="filters-item__label">Экскурсии по Минску</label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-27">
            <label for="filters-item__input-27" class="filters-item__label">Экскурсии по замкам</label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-28">
            <label for="filters-item__input-28" class="filters-item__label">Этнографические</label>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="modal__footer">
      <a class="btn modal__btn">Искать</a>
    </div>

  </div>
</div>