<div class="pwa-window">
  <p>Выберите, где продолжить</p>
  <div class="pwa-window__content-wp">
    <div class="pwa-window__btn-wp">
      <div>
        <div class="pwa-window__icon-wp">
          <img src="images/sprite.svg#icons--favicon-152x152" alt="favicon">
        </div>
        <p>Ekskursii.by</p>
      </div>
      <button class="btn simple-btn" id="pwa-btn-yes">Перейти</button>
    </div>
    <div class="pwa-window__btn-wp">
      <div>
        <div class="pwa-window__icon-wp">
          <img src="images/sprite.svg#icons--browsers-icons--Google-chrome" alt="browser icon">
        </div>
        <p>Google Chrome</p>
      </div>
      <button class="btn simple-btn" id="pwa-btn-no">Остаться</button>
    </div>
  </div>
</div>