<section class="attractions__region-filter">
  <div class="container">
    <div class="region-filter__inner">
      <h2 class="h2">По областям</h2>

      <div class="filters-item">
        <ul class="filters-item__list only-one-checkbox">
          <li class="filters-item__list--item">  
            <input type="checkbox" class="filters-item__input" id="filters-item__input-1">
            <label for="filters-item__input-1" class="filters-item__label">Вся Беларусь <span>1464</span></label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-2" >
            <label for="filters-item__input-2" class="filters-item__label">Брестская <span>564</span></label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-3" >
            <label for="filters-item__input-3" class="filters-item__label">Витебская <span>564</span></label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-4" >
            <label for="filters-item__input-4" class="filters-item__label">Гомельская <span>564</span></label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-5" >
            <label for="filters-item__input-5" class="filters-item__label">Гродненская <span>564</span></label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-6" >
            <label for="filters-item__input-6" class="filters-item__label">Минская <span>564</span></label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-7" >
            <label for="filters-item__input-7" class="filters-item__label">Могилевская <span>564</span></label>
          </li>          
        </ul>
      </div>

    </div>
  </div>
</section>

<section class="attractions__type-filter">
  <div class="container">
    <div class="type-filter__inner">
      <h2 class="h2">По типу</h2>
      <div class="filters-item">
        <ul class="filters-item__list">
          <li class="filters-item__list--item">  
            <input type="checkbox" class="filters-item__input" id="filters-item__input-8">
            <label for="filters-item__input-8" class="filters-item__label">Всe <span>564</span></label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-9">
            <label for="filters-item__input-9" class="filters-item__label">Археологические памятники <span>698</span></label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-10">
            <label for="filters-item__input-10" class="filters-item__label">Башни, брамы <span>564</span></label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-11">
            <label for="filters-item__input-11" class="filters-item__label">Вокзалы, ж/д и почтовые станции <span>564</span></label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-12">
            <label for="filters-item__input-12" class="filters-item__label">Дворцы и усадьбы <span>564</span></label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-13">
            <label for="filters-item__input-13" class="filters-item__label">Деревянное зодчество <span>135</span></label>
          </li>
          <li class="filters-item__list--item">
            <input type="checkbox" class="filters-item__input" id="filters-item__input-14">
            <label for="filters-item__input-14" class="filters-item__label">Костелы <span>123</span></label>
          </li>          
        </ul>
      </div>
    </div>
  </div>
</section>

