<div class="container header__container--secondary">
  <nav class="menu__secondary">
    <ul class="menu__secondary-list">
      <li class="menu__secondary-list--item">
        <a class="menu__primary-list--link" href="#product" title="Все экскурсии">
          Все экскурсии
        </a>
      </li>
      <li class="menu__secondary-list--item">
        <a class="menu__primary-list--link" href="#product" title="Групповые">
          Групповые
        </a>
      </li>
      <li class="menu__secondary-list--item">
        <a class="menu__primary-list--link" href="#product" title="Индивидуальные">
          Индивидуальные
        </a>
      </li>
      <li class="menu__secondary-list--item">
        <a class="menu__primary-list--link" href="#product" title="Для школьников">
          Для школьников
        </a>
      </li>
      <li class="menu__secondary-list--item">
        <a class="menu__primary-list--link" href="#product" title="По Минску">
          По Минску
        </a>
      </li>
      <li class="menu__secondary-list--item promo-item">
        <a class="menu__primary-list--link" href="#product" title="Новый год">
          Новый год
        </a>
      </li>
      <li class="menu__secondary-list--item">
        <a class="menu__primary-list--link" href="#product" title="Еще ...">
          Еще ...
        </a>
      </li>
    </ul>
  </nav>
</div>