<section class="section">
  <div class="container">
    <div class="section__header">
      <h2 class="h2">Гродненская область</h2>
    </div>
    <div class="section__inner long-text-dropdown">

      <ul class="list">
        <li>
          <a href="#" target="_blank" title="«Молочный Мир» фабрика мороженого">«Молочный Мир» фабрика мороженого</a>
        </li>
        <li>
          <a href="#" target="_blank" title="Августовский канал - шлюз Домбровка">Августовский канал - шлюз Домбровка</a>
        </li>
        <li>
          <a href="#" target="_blank" title="Аквапарк в Гродно">Аквапарк в Гродно</a>
        </li>
      </ul>

      <a class="dropdown-text-btn" href="#first-paragraph">
        <input id="text__dropdown-btn" type="checkbox" data-open-text="еще..." data-close-text="свернуть">
      </a>

      <div class="dropdown-text-content">
        <ul class="list">
          <li>
            <a href="#" target="_blank" title="«Молочный Мир» фабрика мороженого">«Молочный Мир» фабрика мороженого</a>
          </li>
          <li>
            <a href="#" target="_blank" title="Августовский канал - шлюз Домбровка">Августовский канал - шлюз Домбровка</a>
          </li>
          <li>
            <a href="#" target="_blank" title="Аквапарк в Гродно">Аквапарк в Гродно</a>
          </li>
          <li>
            <a href="#" target="_blank" title="«Молочный Мир» фабрика мороженого">«Молочный Мир» фабрика мороженого</a>
          </li>
          <li>
            <a href="#" target="_blank" title="Августовский канал - шлюз Домбровка">Августовский канал - шлюз Домбровка</a>
          </li>
          <li>
            <a href="#" target="_blank" title="Аквапарк в Гродно">Аквапарк в Гродно</a>
          </li>
          <li>
            <a href="#" target="_blank" title="«Молочный Мир» фабрика мороженого">«Молочный Мир» фабрика мороженого</a>
          </li>
          <li>
            <a href="#" target="_blank" title="Августовский канал - шлюз Домбровка">Августовский канал - шлюз Домбровка</a>
          </li>
          <li>
            <a href="#" target="_blank" title="Аквапарк в Гродно">Аквапарк в Гродно</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="section__header">
      <h2 class="h2">Минская область</h2>
    </div>
    <div class="section__inner long-text-dropdown">
      <ul class="list">
        <li>
          <a href="#" target="_blank" title="«Наносы-Новоселье» агротуристический комплекс">«Наносы-Новоселье» агротуристический комплекс</a>
        </li>
        <li>
          <a href="#" target="_blank" title="«Райск» агротуристический комплекс">«Райск» агротуристический комплекс</a>
        </li>
        <li>
          <a href="#" target="_blank" title="«Экспедиция» база отдыха">«Экспедиция» база отдыха</a>
        </li>
      </ul>

      <a class="dropdown-text-btn" href="#first-paragraph">
        <input id="text__dropdown-btn" type="checkbox" data-open-text="еще..." data-close-text="свернуть">
      </a>

      <div class="dropdown-text-content">
        <ul class="list">
          <li>
            <a href="#" target="_blank" title="«Молочный Мир» фабрика мороженого">«Молочный Мир» фабрика мороженого</a>
          </li>
          <li>
            <a href="#" target="_blank" title="Августовский канал - шлюз Домбровка">Августовский канал - шлюз Домбровка</a>
          </li>
          <li>
            <a href="#" target="_blank" title="Аквапарк в Гродно">Аквапарк в Гродно</a>
          </li>
          <li>
            <a href="#" target="_blank" title="«Молочный Мир» фабрика мороженого">«Молочный Мир» фабрика мороженого</a>
          </li>
          <li>
            <a href="#" target="_blank" title="Августовский канал - шлюз Домбровка">Августовский канал - шлюз Домбровка</a>
          </li>
          <li>
            <a href="#" target="_blank" title="Аквапарк в Гродно">Аквапарк в Гродно</a>
          </li>
          <li>
            <a href="#" target="_blank" title="«Молочный Мир» фабрика мороженого">«Молочный Мир» фабрика мороженого</a>
          </li>
          <li>
            <a href="#" target="_blank" title="Августовский канал - шлюз Домбровка">Августовский канал - шлюз Домбровка</a>
          </li>
          <li>
            <a href="#" target="_blank" title="Аквапарк в Гродно">Аквапарк в Гродно</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="section__header">
      <h2 class="h2">Могилёвская область</h2>
    </div>
    <div class="section__inner">
      <ul class="list">
        <li>
          <a href="#" target="_blank" title="Азовско-Донской коммерческий банк">Азовско-Донской коммерческий банк</a>
        </li>
        <li>
          <a href="#" target="_blank" title="Ансамбль площади Ленина в Могилеве">Ансамбль площади Ленина в Могилеве</a>
        </li>
        <li>
          <a href="#" target="_blank" title="Белыничская церковь в честь иконы Богоматери Белыничской">Белыничская церковь в честь иконы Богоматери Белыничской</a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="section__header">
      <h2 class="h2">Брестская область</h2>
    </div>
    <div class="section__inner">
      <ul class="list">
        <li>
          <a href="#" target="_blank" title="Аквапарк Ружанский">Аквапарк Ружанский</a>
        </li>
        <li>
          <a href="#" target="_blank" title="Аквапарк в Кобрине">Аквапарк в Кобрине</a>
        </li>
        <li>
          <a href="#" target="_blank" title="Аквапарк в Пружанах">Аквапарк в Пружанах</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="section__header">
      <h2 class="h2">Витебская область</h2>
    </div>
    <div class="section__inner">
      <ul class="list">
        <li>
          <a href="#" target="_blank" title="Ансамбль площади Ленина в Полоцке">Ансамбль площади Ленина в Полоцке</a>
        </li>
        <li>
          <a href="#" target="_blank" title="Ансамбль рыночной площади Постав">Ансамбль рыночной площади Постав</a>
        </li>
        <li>
          <a href="#" target="_blank" title="Арт Хутор «Мастеровые»">Арт Хутор «Мастеровые»</a>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="section__header">
      <h2 class="h2">Гомельская область</h2>
    </div>
    <div class="section__inner">
      <ul class="list">
        <li>
          <a href="#" target="_blank" title="Борисоглебское кладбище">Борисоглебское кладбище</a>
        </li>
        <li>
          <a href="#" target="_blank" title="Буровая вышка">Буровая вышка</a>
        </li>
        <li>
          <a href="#" target="_blank" title="Бывший домик врача">Бывший домик врача</a>
        </li>
      </ul>
    </div>
  </div>
</section>