<div class="container">
    <div class="footer__inner">
      <a class="footer__logo" href="#">
        <img src="/images/sprite.svg#logo" alt="logo">
      </a>
      <div class="footer__secondary-nav">
        <div class="footer__secondary-nav-col">
          <a class="footer__secondary-nav-btn" href="#">Вход для гидов</a>
          <a class="footer__secondary-nav-btn" href="#">Вход для партнеров</a>
          <a class="footer__secondary-nav-btn--alt" href="#">Регистрация нового Агента</a>
        </div>
        <div class="footer__secondary-nav-col">
          <a class="footer__secondary-nav-link" href="https://sanatorii.by/" title="sanatorii.by" target="_blank">Санатории</a>
          <a class="footer__secondary-nav-link" href="https://beltur.by/" title="beltur.by" target="_blank">Базы отдыха</a>
          <a class="footer__secondary-nav-link" href="https://belhotel.by/" title="belhotel.by" target="_blank">Гостиницы</a>
          <a class="footer__secondary-nav-link" href="https://beltransfer.by/" title="beltransfer.by" target="_blank">Трансфер</a>
        </div>
      </div>
    </div>
</div>