.quicknav__navbar
  position: relative
  width: 100%
  padding: 0 16px
  background-color: $white
  z-index: 8
  &.onscroll
    position: sticky
    top: 40px
    padding: 16px
    box-shadow: $shadow-gray
    .tags-group__link
      padding: 7px 10px
      font-size: 14px
  .tags-group__link--active
    background-color: $accent-yellow
    border-color: $accent-yellow

.section__quicknav
  .route__map,
  .video-wrapper
    width: 100%
    height: 260px
    margin-top: 20px
  iframe
    width: 100%
    height: 260px
    
.about__short-info
  margin-top: 10px
  .short-info__inner
    display: flex
    flex-direction: column
    gap: 12px
    margin-top: 30px
  .card-item__cta.btn
    margin-top: 18px

.about__price
  .price__header
    display: flex
    justify-content: space-between
    align-items: center
  .schedule__wrapper-cards
    gap: 0
  .schedule__card-item:first-child
    border-top: 1px solid $accent-yellow
  .schedule__card-item:last-child
    border-bottom: 0
  .price__tabs
    .panels
      padding-bottom: 0
    .hint-text
      margin-top: 18px
  .price__price-include
    margin-top: 20px
    ul
      margin-top: 16px

.about__schedule
  .schedule__wrapper-cards
    gap: 0
  .schedule__card-item--header,
  .schedule__display--table-header p:nth-child(1)
    flex: 0 0 120px
  .card-item__cta.btn
    width: auto
    padding: 10px
    text-transform: initial
    letter-spacing: 0
    &::after
      content: 'Забронировать'
      width: auto
      height: auto
      background-image: none
  .card-item__info
    display: flex
    gap: 4px
  .card-item__info--date p
    gap: 0
    &::after
      content: ','
  .card-item__seats
    flex: 1
    min-width: 60px
    margin-top: 0
    color: $black
  .schedule__card-item.inactive
    .card-item__cta.btn
      color: $dark-gray
      background-color: $light-gray
      border-color: $light-gray
      cursor: not-allowed
    .card-item__seats
      color: $dark-gray

.about__description--paragraph
  margin-top: 16px
.about__description--short-info
  p:nth-of-type(1)
    margin-top: 12px
    font-weight: 800
  p:nth-of-type(2)
    margin-top: 6px
    a
      border-bottom: 1px solid $black

.about__program
  .h6
    margin-top: 20px
    font-size: 14px
  .program__wrapper
    padding-left: 15px
    border-left: 1px solid $additional-gray
  .program__item
    margin-top: 12px
    a:not(.btn)
      color: $black
      border-bottom: 1px solid $black
    a.simple-secondary-btn
      display: flex
      margin: 10px 0 10px auto
    .dropdown-content p,
    p:nth-of-type(2)
      margin-top: 6px
      color: $dark-gray
    .dropdown-btn
      p::after
        @extend %button-icon
        display: inline-block
        margin-left: 6px
        width: 10px
        height: 6px
        flex: 0 0 10px
        transform: rotate(180deg)
        background-image: $icon_arrow_black
      &:has([type="checkbox"]:checked) 
        p::after
          transform: rotate(0deg)
        & ~ .dropdown-content p
          margin-top: 0
  .program__item--title
    position: relative
    font-weight: 800
    &::before
      content: ''
      position: absolute
      display: inline-block
      left: -20px
      top: 4px
      width: 10px
      height: 10px
      background-color: $accent-yellow
      border-radius: 50%
    span
      font-weight: 600

// #qsection .section__inner 
//   section
//     padding-top: 210px
//     margin-top: -180px
//   section:first-child
//     padding-top: 230px !important
//     margin-top: -220px !important
