.about__short-info
  margin-top: 10px
  .short-info__inner
    display: flex
    flex-direction: column
    gap: 12px
    margin-top: 30px
  .card-item__cta.btn
    margin-top: 18px

.about__price
  .price__header
    display: flex
    justify-content: space-between
    align-items: center
  .schedule__wrapper-cards
    gap: 0
  .schedule__card-item:first-child
    border-top: 1px solid $accent-yellow
  .schedule__card-item:last-child
    border-bottom: 0
  .booking__tabs .hint-text
    margin-top: 18px
  .price__price-include
    margin-top: 20px
    p
      font-size: 20px
    ul
      margin-top: 16px
      

// #price,
// #schedule,
// #description,
// #program,
// #route,
// #feedback
//   scroll-margin-top: 100px