.attractions
  .attractions__card-item
    @extend .schedule__card-item
    height: 100%
    border-radius: 10px
  .splide__slide
    padding: 0
  .attractions__card-item--header
    @extend .schedule__card-item--header
    flex: 1
  .card-item__cta
    margin-top: 0
  .card-item__info--type p
    align-items: flex-start
  ul.list
    li
      display: inline
    a
      border-bottom: 1px solid $black
  .filters-item__label
    background-color: $light-gray

/* display first 4 tags, then 4 more */
.filters-item__list--item:has(+ .more-btn) ~ .filters-item__list--item
  display: none
.filters-item__list:has(.more-btn [type="checkbox"]:checked)
  .filters-item__list--item:nth-child(n+5)
    display: flex
  .more-btn
    display: none

// .navbar__tags-group


// .tags-group__link--active
//   background-color: $accent-yellow
//   border-color: $accent-yellow
