.attractions
  .attractions__card-item
    @extend .schedule__card-item
    height: 100%
    border-radius: 10px
  .splide__slide
    padding: 0
  .attractions__card-item--header
    @extend .schedule__card-item--header
    flex: 1
  .card-item__info--type p
    align-items: flex-start
  ul.list
    li
      display: inline
    a
      border-bottom: 1px solid $black
    .list-item--bold
      font-weight: 800
  .filters-item__label
    background-color: $light-gray

/* display first 4 tags, then 4 more */
.filters-item__list--item:has(+ .more-btn) ~ .filters-item__list--item
  display: none
.filters-item__list:has(.more-btn [type="checkbox"]:checked)
  .filters-item__list--item:has(+ .more-btn) ~ .filters-item__list--item
    display: flex
  .more-btn
    display: none






.quicknav__section.about__schedule .schedule__card-item:has(+ .dropdown-text-btn) ~ .schedule__card-item
  display: none
.quicknav__section.about__schedule:has(.dropdown-text-btn [type="checkbox"]:checked)
  .schedule__card-item:has(+ .dropdown-text-btn) ~ .schedule__card-item
    display: flex
  .more-btn
    // display: none
    margin: auto
    order: 1000