.attractions
  .attractions__card-item
    @extend .schedule__card-item
    height: 100%
    border-radius: 10px
  .splide__slide
    padding: 0
  .attractions__card-item--header
    @extend .schedule__card-item--header
    flex: 1
  .card-item__cta
    margin-top: 0
  .card-item__info--type p
    align-items: flex-start
  ul.list
    margin-top: 30px
    li
      display: inline
    a
      border-bottom: 1px solid $black
  .filters-item__label
    background-color: $light-gray

// .attractions__region-filter:has(:checked)
//   ~ .region
//     display: none
// .attractions__region-filter:has(#filters-item__input-brest:checked)
//   ~ .region__brest
//     display: block !important
// .attractions__region-filter:has(#filters-item__input-vitebsk:checked)
//   ~ .region__vitebsk
//     display: block !important
// .attractions__region-filter:has(#filters-item__input-gomel:checked)
//   ~ .region__gomel
//     display: block !important
// .attractions__region-filter:has(#filters-item__input-grodno:checked)
//   ~ .region__grodno
//     display: block !important
// .attractions__region-filter:has(#filters-item__input-minsk:checked)
//   ~ .region__minsk
//     display: block !important
// .attractions__region-filter:has(#filters-item__input-mogilev:checked)
//   ~ .region__mogilev
//     display: block !important
// .attractions__region-filter:has(#filters-item__input-all:checked)
//   ~ .region
//     display: block !important



/* display first 4 tags, then 4 more */
.filters-item__list--item:nth-child(n+5)
  display: none
.filters-item__list:has(.more-btn [type="checkbox"]:checked)
  .filters-item__list--item:nth-child(n+5)
    display: flex
  .more-btn
    display: none