.splide__slide
    @extend %card
    min-height: 178px
    margin-top: 10px
    margin-bottom: 10px
    &.no-bg
        box-shadow: none
.splide__pagination
    position: relative
    bottom: 0
    // margin-top: 10px
    .splide__pagination__page
        height: 10px
        width: 10px
        margin: 0 6px
        background-color: $additional-gray
        transform: none
        opacity: 1
    .is-active
        background-color: $accent-yellow
        transform: none
.gallery-slider,
.employees-slider
    .container
       padding: 0
    .splide__slide
        img
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            min-height: 178px
            object-fit: cover
            border-radius: 10px
        .promo__text-block
            position: relative
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            gap: 16px
            height: 100%
            .h3
                color: $white
                text-align: center
    .splide__slide.no-bg
        img
            object-fit: contain
            border-radius: 0
.gallery-slider,
.employees-slider
    margin-top: 10px
.employees-slider
    .splide__slide
        min-height: 150px
        max-width: 150px
        img
            min-height: 150px
            width: 150px