.splide__track
    overflow: unset
.splide__slide
    @extend %card
    min-height: 178px
.splide__pagination
    position: relative
    bottom: 0
    margin-top: 20px
    .splide__pagination__page
        height: 10px
        width: 10px
        margin: 0 6px
        background: $additional-gray
        transform: none
        opacity: 1
    .is-active
        background: $accent-yellow
        transform: none