@import '../../node_modules/@splidejs/splide/dist/css/splide.min'
@import '../../node_modules/flatpickr/dist/flatpickr.min'

@import ./base/_variables

@import ./base/_reset
@import ./base/_layout

@import ./base/_buttons
@import _customSelect
@import ./base/_inputs

@import _tabPanels
@import _tags
@import _filters

@import _header

@import _intro
@import _search

@import _promo
@import _schedule
@import _feedback
@import _contacts

@import _booking
@import _about
@import _attractions
@import _cities
@import _how-to-book

@import _footer
@import _animations
@import _slider
@import _modals
@import _rangeSlider

.section__factories
  .card-item__info
    flex-direction: column
    align-items: flex-start
    gap: 0
  .card-item__seats
    margin-top: 0
  .card-item__info--time p
    align-items: flex-start
  .card-item__dropdown-info
    margin-bottom: 0
    p
      margin-top: 0