button,
.btn
  background-color: transparent
  outline: none
  border: 0
  font-family: 'Mulish', sans-serif
  cursor: pointer
  transition: all 0.3s

button[class$='form__submit-btn']::after,
button.btn::after
  content: attr(value)
a[class$='form__submit-btn']::after,
a.btn::after
  content: attr(title)

.cta-primary
  position: relative
  @extend %flex-center
  // width: fit-content
  padding: 14px 18px
  background-color: $accent-yellow
  border: 1px solid $accent-yellow
  border-radius: 30px
  box-shadow: $shadow-yellow
  text-align: center
  font-weight: 700
  color: $black
  &:hover
    border: 1px solid $black
    background-color: $white
  @media screen and (max-width: 540px)
    padding: 14px

.cta-secondary
  @extend .cta-primary
  background-color: $white
  border: 1px solid $white
  box-shadow: $shadow-gray
  &:hover
    border: 1px solid $black
    box-shadow: none

.more-btn
  position: relative
  display: flex
  align-items: center
  width: fit-content
  border: 1px solid $additional-gray
  color: $dark-gray
  background-color: $white
  border-radius: 24px
  &:hover
    border-color: $dark-gray
    background-color: $white
    color: $black
  [type="checkbox"]
    width: 100%
    height: 38px
    opacity: 0
    position: absolute
    cursor: pointer
    @media screen and (max-width: 414px)
      height: 36px
  label[for$="more-btn"]
    padding: 8px 12px
    @media screen and (max-width: 414px)
      padding: 8px 10px

.simple-btn
  display: inline-flex
  align-items: center
  width: fit-content
  padding: 8px 12px
  border: 1px solid $black
  color: $black
  background-color: $white
  border-radius: 24px
  font-size: 14px
  &:hover
    border-color: $additional-gray
    background-color: $light-gray

.simple-secondary-btn
  @extend .simple-btn
  padding: 0
  border: 0
  border-bottom: 1px solid transparent
  border-radius: 0
  text-transform: lowercase
  &:hover
    border-color: $black
    background: none

.arrow-btn::before
  @extend %button-icon
  margin-left: 2px
  background-image: $icon_arrow-right
  order: 2

.all-btn
  @extend .cta-primary
  width: fit-content
  margin: 20px auto 0
  font-size: 16px
  &.arrow-btn::before
    @extend %button-icon-20
    margin-left: 4px
    background-image: $icon_arrow-right

.sticky-btn
  margin: 20px auto 0
  position: sticky
  bottom: 20px
  width: fit-content
  box-shadow: $shadow-gray
  z-index: 5

.btn-up
  @extend .cta-secondary
  position: fixed
  right: 26px
  bottom: 20px
  width: 50px
  height: 50px
  box-shadow: $shadow-gray-strong
  z-index: 10
  opacity: 0
  &::before
    @extend %button-icon
    background-image: $icon_arrow-right
    transform: rotate(-90deg)
    scale: 1.5
  &.visible
    opacity: 1
    transition: opacity 0.4s

.dropdown-btn
  position: relative
  z-index: 0
  [type='checkbox']
    position: absolute
    top: 0
    cursor: pointer
    width: 100%
    height: 100%
    z-index: 1
    opacity: 0
  & ~ .dropdown-content
    opacity: 1
    transition: all .25s ease-in-out
    animation: flipdown .5s ease both
    & > *
      max-height: auto
  &:has([type=checkbox]:checked) ~ .dropdown-content
    margin-top: 0
    max-height: 0
    margin-bottom: 0
    opacity: 0
    & > *
      max-height: 0

.dropdown-text-btn
  margin-top: 12px
  order: 9
  cursor: pointer
  input
    display: flex
    align-items: center
    justify-content: center
    gap: 4px
    appearance: none
    cursor: pointer
    &::before
      content: attr(data-open-text)
    &::after
      @extend %button-icon
      position: relative
      width: 10px
      height: 6px
      background-image: $icon_arrow_gray
      transform: rotate(360deg)
      transition: all 0.25s ease-in-out
  & ~ .dropdown-text-content
    order: 9
    // display: none
    max-height: 0
    opacity: 0
    transform: translate(0, 50%)
    ul.list:first-child
      margin-top: 12px
  &:has(input:checked)
    @extend .sticky-btn
    background-color: $white
    padding: 10px 14px
    border-radius: 24px
    order: 10
    input
      &::before
        content: attr(data-close-text)
      &::after
        transform: rotate(180deg)
    & ~ .dropdown-text-content
      // display: block
      max-height: 100%
      transition: all 0.25s ease-in-out
      opacity: 1
      transform: translate(0, 0)