<section class="booking-tabs">
  <div class="container">
    <div class="booking__inner">
      <div class="booking__tabs">
        <input id="panel-1-ctrl" class="panel-radios" type="radio" name="tab-radios" checked>
        <input id="panel-2-ctrl" class="panel-radios" type="radio" name="tab-radios">
        <ul class="tabs-list">
          <li id="li-for-panel-1">
            <label class="panel-label" for="panel-1-ctrl">Групповая</label>
          </li>
          <li id="li-for-panel-2">
            <label class="panel-label" for="panel-2-ctrl">Индивидуальная / Корпоративная</label>
          </li>
        </ul>
        <!-- THE PANELS -->
        <div class="panels">
          <div class="panels-wrapper">
            <div class="panel-1">
              <div class="panel__content">
                <!--=include form-booking-group.html -->
              </div>
            </div>
            <div class="panel-2">
              <div class="panel__content">
                <!--=include form-booking-individual.html -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>