<form class="booking-form" id="booking-individual">                     
  <div class="booking-info booking-info__about">
    <p class="h4">Данные экскурсии</p>
    <div class="booking-form__form-field">
      <label class="h6" for="booking-date-individual">Дата отправления</label>
      <span class="booking-form__form-field--input">
        <input type="text" name="booking-date-individual" id="booking-date-individual" placeholder="Выберите дату">
      </span>
    </div>
    <div class="booking-form__form-field">
      <label class="h6" for="people-amount-individual">Количество человек</label>
      <span class="custom-select booking-form__form-field--input">
        <select type="text" name="people-amount-individual" id="people-amount-individual" value="1">
          <option value="1">1 взрослый</option>
          <option value="2">2 взрослых</option>
        </select>
      </span>
    </div>
    <div class="booking-form__form-field">
      <label class="h6 hidden-label" for="kids-amount-individual">Количество детей</label>
      <span class="custom-select booking-form__form-field--input">
        <select type="text" name="kids-amount-individual" id="kids-amount-individual">
          <option value="0">без детей</option>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </span>
    </div>
  </div>
  <div class="booking-info booking-info__profile">
    <p class="h4">Ваши данные</p>
    <div class="booking-form__form-field">
      <label class="h6" for="name-individual">ФИО</label>
      <span class="booking-form__form-field--input">
        <input class="no-icon" type="text" name="name-individual" id="name-individual" placeholder="Введите ваше ФИО" required>
      </span>
    </div>
    <div class="booking-form__form-field">
      <label class="h6" for="phone-individual">Номер телефона</label>
      <span class="booking-form__form-field--input">
        <input class="no-icon" type="text" name="phone-individual" id="phone-individual" placeholder="Введите номер телефона">
      </span>
    </div>
    <div class="booking-form__form-field">
      <label class="h6" for="email-individual">Email</label>
      <span class="booking-form__form-field--input">
        <input class="no-icon" type="email" name="email-individual" id="email-individual" placeholder="Введите ваш email" required>
      </span>
    </div>
    <div class="booking-form__form-field">
      <label class="h6" for="country-individual">Страна проживания</label>
      <span class="custom-select booking-form__form-field--input">
        <select class="no-icon" type="text" name="country-individual" id="country-individual" value="0"  required>
          <option value="0" disabled selected>Выберите страну проживания</option>
          <option value="1">Беларусь</option>
          <option value="2">Россия</option>
        </select>
      </span>
    </div>
    <div class="booking-form__form-field">
      <label class="h6" for="question-individual">Пожелания по маршруту, программе, питанию...</label>
      <textarea class="booking-form__form-field--input no-icon" id="question-individual" rows="1" placeholder="Пожелания по программе..."></textarea>
    </div>
  </div>
  <div class="booking-info booking-info__rules">
    <div class="booking-form__form-field">
      <span class="booking-form__form-field--checkbox">
        <input class="no-icon" type="checkbox" name="payment_rules" id="payment_rules" checked>
        <span class="checkmark"></span>
        <label class="h6 checkmark-label" for="payment_rules">
          Согласен(на) с <a href="https://pda.ekskursii.by/?Oplata_ekskursij_po_Belarusi" title="Правила бронирования и оплаты">Правилами бронирования и оплаты Ekskursii.by</a>
        </label>
      </span>
      <span class="booking-form__form-field--checkbox">
        <input class="no-icon" type="checkbox" name="privacy_policy" id="privacy_policy" checked>
        <span class="checkmark"></span>
        <label class="h6 checkmark-label" for="privacy_policy">
          Согласен(на) с <a href="https://pda.ekskursii.by/?Politika_konfidencialinosti">Политикой конфиденциальности и Соглашением на обработку персональных данных</a>
        </label>
      </span>
    </div>
  </div>
  <button class="btn booking-form__submit-btn" type="submit" value="Забронировать"></button>
</form>