<section class="section">
  <div class="container">
      <div class="section__header">
          <h2 class="h2">По типу</h2>
      </div>
      <div class="section__inner">
          <ul class="btn-list">
              <li class="btn-list-item btn-list-item">
                  <input type="checkbox" class="btn-list-item__input">
                  <label class="btn-list-item__label">Всe <span>564</span></label>

                  <a href="" class="btn-list-item__link"></a>
              </li>
          </ul>
      </div>
  </div>
</section>

.section {

  &__header {
  }

  &__inner {
  }
}

.btn-list {
}
.btn-list-item {

  &__input {
  }

  &__label {
  }

  &__link {
  }
}
